@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	--Yellow: hsl(47, 88%, 63%);
	--White: hsl(0, 0%, 100%);
	--Grey: hsl(0, 0%, 50%);
	--Black: hsl(0, 0%, 7%);
}

* {
	box-sizing: border-box;
	margin: 0;
}

.cardAuthor {
  display: flex;
  align-items: center;
}
.cardAuthor p {
  font-weight: 800;
  margin-left: 20px;  
}

.cardAuthor img {
  width: 45px;
  height: auto;
  border-radius: 50%;
  background-size: contain;
}

body {
	font-family:
		'Figtree',
		Comic Sans MS;
	font-size: 16px;
}

.container {
	background-color: var(--Yellow);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
@media (min-width:600px) {
  .outerBox {
    max-width: 30%;
    height: auto;
    border-radius: 20px;
  }
  img {
    height: 30%;
  }
}
.outerBox {
	background-color: var(--White);
	border: 2px solid var(--Black);
	border-radius: 20px;
	width: 80vw;
	padding: 25px;
	display: flex;
	flex-direction: column;
	box-shadow: 10px 10px var(--Black);
}

img {
	border-radius: 10px;
}

h1 {
	background-color: var(--Yellow);
	border-radius: 5px;
	font-size: 1rem;
	width: 30%;
	padding: 5px;
	text-align: center;
	font-weight: 800;
	margin: 20px 0px 20px 0px;
}

h2 {
	font-weight: 800;
	font-size: 1.25rem;
	margin-bottom: 20px;
}

h2:hover {
  color: var(--Yellow);
}
.cardData p {
	font-weight: 600;
	font-size: 0.75rem;
	margin-bottom: 20px;
}

#info {
	font-size: 14px;
	color: var(--Grey);
	margin-bottom: 20px;
}
/*
Footer items 
*/
.attribution {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
	color: white;
	background-color: black;
	padding: 5px;
}

.attribution a {
	color: #00ff00;
	text-decoration: none;
}

.attribution a:hover {
	color: #ff9c6c;
}
